nav {
  width: 100%;
  margin: 0rem;
  padding: 0.5rem 0rem;
  display: flex;
  justify-content: space-around;
  background-color: #fdf8f89a;
}
nav a {
  background-color: #00eeffda;
  padding: 0.5rem;
  border-radius: 1rem 0rem 1rem 1rem;
}