* {
  transition: all 0.3s ease;
}

.swiper {
  width: 100%;
  padding: 40px 0;
}

.swiper-slide {
  transition: all 0.4s ease;
  opacity: 0.4;
  filter: blur(3px);
  transform: scale(0.85);
  text-align: center;
}

.swiper-slide img {
  width: 20rem;
  height: auto;
  object-fit: cover;
}

/* CENTER SLIDE */
.swiper-slide-active {
  opacity: 1;
  filter: none;
}

/* NEIGHBORS */
.projects {
  width: 100%;
  padding: 60px 0;
}

.swiper {
  width: 100%;

}

.swiper-slide {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: all 0.4s ease;
  opacity: 0.4;
  filter: blur(3px);
  transform: scale(0.85);
  height: fit-content !important;
}

.swiper-slide img {
  width: 20rem;
  height: 24rem;
  border-radius: 1rem;
  border: 2px solid rgb(0, 255, 255);
  object-fit: cover;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.3s ease;
}

.swiper-slide-active {
  opacity: 1;
  z-index: 10 !important;
  filter: none;
  transform: scale(1.2);
}

.swiper-slide-prev,
.swiper-slide-next {
  opacity: 0.7;
  filter: blur(1px);
}
.swiper-slide.swiper-slide-visible.swiper-slide-fully-visible.swiper-slide-active {
  opacity: 1;
  filter: none;
  transform: scale(1.2);
  height: fit-content;
  width: fit-content !important;
}
.swiper-slide-active img {
  transition: width 0.3s ease;
  width: 30rem;
}
.swiper-slide-active h3 {
  font-size: 2rem;
  margin-top: 1rem;
  color: #022f72;
  text-align: center;
  font-weight: bold;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  line-height: 1.2;
  font-family: "Arial", sans-serif;
  -webkit-text-stroke: 0.5px #f5f6f7;
  transition:
    -webkit-text-stroke 0.3s ease,
    color 0.3s ease,
    font-size 0.3s ease,
    background-color 0.3s ease;
  background-color: rgba(4, 255, 242, 0.445);
  padding: 10px;
  border-radius: 8px;
}
