html{
  font-size: 16px;
  font-family: 'Poppins', sans-serif;

}
*{
  transition: all .5s ease;
}
/*body main styles system*/
body{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  position: relative;
  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

/*body main color system*/
body{
  background-image: url(./bg-s/bodybg.webp);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
 z-index: -1;
}
body::before{
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(5px);
  z-index: 0;
}
#container{
  z-index: 1;
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  position: relative;

}