
/*login form styles and animations and display*/
form{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 30%;
  height: 30rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  
}
/*login from colors*/
form{
  background-image: linear-gradient(to bottom, #41bdf741, #f3f3f349);
  backdrop-filter: blur(5px);
  border: solid rgba(255, 255, 255, 0.767) 1px;
  box-shadow: 2px 2px 10px 2px rgba(200, 255, 255, 0.5);
  border-radius: 3rem ;
}

form h2{
  color: #41bdf7;
}
form input{
  width: 80%;
  height: 2rem;
  margin: 3rem 0rem;
  border-radius: 1rem;
  border: solid rgba(255, 255, 255, 0.767) 1px;
  box-shadow: 2px 2px 10px 2px rgba(242, 243, 243, 0.5);
  background-color: rgba(164, 250, 250, 0.904);
  color: #01afff;
  font-size: .9rem;
  padding: 0.2rem;
}
form button:hover{
  cursor: pointer;
  background-color: #41bdf7;
  color: #f3f3f3;
  transition: all .2s ease;
  transform: scale(1.11);
}
form input:hover{
  cursor: pointer;


}

